@import "../../global.scss";


.contact{
    background-color: #B5EAD7;
    
    .form {
        width: 500px;
        box-sizing: border-box;
        
        .name {
            width: 250px;
            height: 48px;
        }
        .email {
            width: 250px;
            height: 48px;
        }
        .message {
            width: 500px;
            height: 48px;
        }
        
        .button {
            width: 250px;
            align-items: center;
            background-color: #06f;
            border: 2px solid #06f;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex;
            fill: #000;
            font-family: Inter,sans-serif;
            font-size: 16px;
            font-weight: 600;
            height: 48px;
            justify-content: center;
            letter-spacing: -.8px;
            line-height: 24px;
            min-width: 140px;
            outline: 0;
            padding: 0 17px;
            text-align: center;
            text-decoration: none;
            transition: all .3s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }
        
        .button:hover {
            background-color: $mainColor;
            border-color: $mainColor;
            fill: #06f;
        }
        
        .button:active {
            background-color: $mainColor;
            border-color: $mainColor;
            fill: $mainColor;
        }
    }
}
